* {
    -fx-font-family: Helvetica, "나눔고딕", "Nanum Gothic", "나눔스퀘어",
    "Nanum Square", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", Dotum,
    "돋움", sans-serif;
    -fx-font-size: 14px;
}

#SizeSelectLabel {

    -fx-border-width: 100px;
}

#DistanceLabel {
    -fx-font-size: 20px;
}